<?xml version="1.0" encoding="utf-8"?>
<!--**********************************************************
*   Copyright (c) 2013 Philipp Sommersguter, Julian Tropper  *
*                                                            *
*   See the file LICENCE.txt for copying permission.         *
***********************************************************-->
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>