<?xml version="1.0" encoding="utf-8"?>
<!--**********************************************************
*   Copyright (c) 2013 Philipp Sommersguter, Julian Tropper  *
*                                                            *
*   See the file LICENCE.txt for copying permission.         *
***********************************************************-->
<packages>
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>